---
---

<div class="profile-description">
    <p>ど田舎生まれど田舎育ちのiOSエンジニア。</p>
    <p>岡山理科大学総合情報学部情報科学科(長いな)に在籍しております。</p>
    <p>主に情報学を勉強する傍ら、趣味でiOS/Flutterなどモバイル関連に関する勉強をしています。</p>
  </div>
  
  <style>
    .profile-description {
      font-size: 30px;
      color: #333;
      padding-left: 20px;
    }
  
    @media (max-width: 768px) {
      .profile-description {
        padding-left: 0;
      }
    }
  </style>