---
---

<div class="profile-image">
    <img src="src/components/650325F3-5D33-4049-BBA4-AE03D2369A65.jpg" alt="Profile Image">
  </div>
  
  <style>
    .profile-image img {
      width: 500px;
      height: 500px;
      border-radius: 50%;
      object-fit: cover;
    }
  
    @media (max-width: 1068px) {
      .profile-image img {
        width: 300px;
        height: 300px;
      }
    }
  </style>