<div class="top-image">
  <img src="https://github.com/gadgelogger/Portfolio/blob/main/src/components/IMG_9845.JPG?raw=true" alt="Top Image">
</div>

<style>
  .top-image img {
    width: 100%;
    height: 1000px; /* 固定の高さを設定 */
    object-fit: cover; /* 画像が歪まないように調整 */
  }

  @media (max-width: 768px) {
    .top-image img {
      height: auto; /* 高さを自動調整 */
    }
  }
</style>